**/__pycache__
*.pyc
Output/Output.log
Output/aggregator_data_processing_pipeline-1.0-py3.7.egg
.vscode/
.idea/ingram_aggregator.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/aggregator-data-processing-pipeline.iml
.idea/

venv/
Output/a.py
Output/aggregator_data_processing_pipeline_follet-1.0-py3.7.egg
staging_Follett_Feb_2020.csv
