.DS_Store
**/__pycache__
*.pyc
Output/*
output/*
.vscode/
.idea/ingram_aggregator.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/aggregator-data-processing-pipeline.iml
.idea/
venv/